*{
    margin: 0px;
    padding: 0px;
}

.one{
    height: 400px;
    width: 400px;
    background-color: red;
    margin: 200px;
    transition: .3s;
    font-size: 100px;
}

.one:hover{
    /* transform: translateY(100px) translate(100px); */
    /* transition: 1s; */
    transform: skewY(30deg);
}

.two{
    height: 200px;
    width: 200px;
    background-color: green;
}

.card{
    width: 350px;
    height: 500px;
    background-color: grey;
    margin-left: 500px;
    border: 1px solid lightgray;
    transition: .2s;
}

.card-img{
    width: 100%;
    height: 200px;
    background-color: red;
    overflow: hidden;

}

.img-source{
    width: 100%;
    /* height: 100%; */
}

.card-content{
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.img-source:hover{
    transform: scale(1.2);
    transition: .3s;
}